<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Loginnnnn</title>
  </head>
  <body>
        <form id="input" action="/login" method="POST">
          <input class="input" type="text" name="username" placeholder="Login" value=""/>
          <input class="input" type="password" name="password" placeholder="Password" value=""/>
          <input class="button" type="submit" name="" value="login"/>
        </form>


        <div id="wrong" class="error">
          {{wrongmessage}}
        </div>
  </body>
</html>
